extends layout

block content
  h1= title
  p WELCOME TO TEST

  // Wrapper
  #wrapper

    // USER INFO
    #userInfo
      h2 User Info
      p
        strong Name:
        |  <span id='userInfoName'></span>
        br
        strong Age:
        |  <span id='userInfoAge'></span>
        br
        strong Gender:
        |  <span id='userInfoGender'></span>
        br
        strong Location:
        |  <span id='userInfoLocation'></span>
    // /USER INFO

    // USER LIST
    h2 User List
    #userList
      table
        thead
          th UserName
          th Email
          th Delete/Update?
        tbody
    // /USER LIST

    // ADD USER
    #addUserPanel
      h2 Add User
      #addUser
        fieldset
          input#inputUserName(type='text', placeholder='Username')
          input#inputUserEmail(type='text', placeholder='Email')
          br
          input#inputUserFullname(type='text', placeholder='Full Name')
          input#inputUserAge(type='text', placeholder='Age')
          br
          input#inputUserLocation(type='text', placeholder='Location')
          input#inputUserGender(type='text', placeholder='gender')
          br
          button#btnAddUser Add User
    // /ADD USER

    // UPDATE USER
    #updateUserPanel
      h2 Update User
      #updateUser
        fieldset
          input#updateUserName(type='text', placeholder='Username',)
          input#updateUserEmail(type='text', placeholder='Email')
          br
          input#updateUserFullname(type='text', placeholder='Full Name')
          input#updateUserAge(type='text', placeholder='Age')
          br
          input#updateUserLocation(type='text', placeholder='Location')
          input#updateUserGender(type='text', placeholder='gender')
          br
          button#btnUpdateUser Update User
          button#btnCancelUpdateUser Cancel
    // /UPDATE USER

  // /WRAPPER
